apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo
  labels:
    app: todo
    version: 2.0.0
spec:
  replicas: 3
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
        version: 2.0.0
    spec:
      containers:
        - name: todo
          image: todo-app:v2
